:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #F3F3F8;
  -webkit-font-smoothing: antialiased;
}

body, button {
  font: 400 1.6rem 'Inter', sans-serif;
  color: #231F20;
}

button {
  cursor: pointer;
}
